html, body{
  background-image: url(../../assets/images/pindwala.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  margin:0;
}
.leftnav{
  height:100%;
  width: 600px;
  position: fixed;
  z-index: 1;
  top:50px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 20px; */
  /* background-color: black; */
  overflow-x: hidden; /* disable horizontal scroll*/
}
.leftnav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
}
/* .leftnav a:hover{
  opacity: .5;
  transition-duration: 1s;
  transition-delay: .1s;
} */
.item1{
  padding-bottom: 20px;
  padding-left: 20px;
}
.item2{
  padding-left: 20px;
  padding-bottom: 20px;
}
.item1:hover{
  transform: scale(1.1);
}
.item2:hover{
  transform: scale(1.1);
}
.item3{
  padding-left: 20px;
  padding-bottom: 20px;
}
.item4{
  padding-left: 20px;
  padding-bottom: 20px;
}
.item4:hover{
  transform: scale(1.1);
}
.item5{
  padding-left: 20px;
  padding-bottom: 20px;
}
.item5:hover{
  transform: scale(1.1);
}
.item3:hover .dropright1{
  visibility: visible;
  /* transform: scale(1.2); */
}
.dropright1{
  visibility: hidden;
  color: purple;
  font-style: italic;
}
.makkiroti{
  visibility: visible;
  font-size: 25px;
  color: yellow;
}
.missiroti{
  visibility: visible;
  font-size: 25px;
  color: white;
  padding-left: 35px;
}
/* .dropright {
  position: relative;
  display: inline-block;
}
.dropright-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
}
.dropright:hover .dropright-content{
  display: block;
} */
